<html>
<head>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-simple-native-datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="angular-simple-native-datepicker.min.css">
    
    <script type="text/javascript" src="demoapp.js"></script> 


    <style type="text/css">
        .simpleNativeDatepicker {
            float: left;
            margin-left: 12px;
            margin-top: 12px;
        }

        .prevMonth {
            margin-right: 24px;
        }
    </style>
</head>
<body ng-app="DemoApp" ng-controller="DemoController">
    
    <span class="prevMonth" ng-click="moveMonth(-1)">&lt; prev month</span>
    <span class="nextMonth" ng-click="moveMonth(1)">next month &gt;</span>

    <div simple-native-datepicker year="calendars[0].year" month="calendars[0].month" 
         selected-dates="selectedDates" version-number="versionNumber" options="options">
    </div>

    <div simple-native-datepicker year="calendars[1].year" month="calendars[1].month" 
         selected-dates="selectedDates" version-number="versionNumber">
    </div>

</body>
</html>